name: main_ms-data-master-campaign-svc

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: sequrradev

    steps:
      - name: Extract branch name and set environment variables
        id: extract_branch
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "::set-output name=branch::$(echo ${GITHUB_HEAD_REF} | sed 's/\//-/g')"
          else
            echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')"
          fi
          echo 'PYTHONIOENCODING=utf-8' >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          path: "./${{ steps.extract_branch.outputs.branch }}"
      
      - name: Build Application
        run: |
          cd ${{ steps.extract_branch.outputs.branch }}

          docker image ls | grep '577638362838.dkr.ecr.ap-southeast-3.amazonaws.com/sequrra/campaign' | awk '{print \$3}'| xargs -I '{}' docker image rm -f '{}' 2>&1 | true
          docker build -t 577638362838.dkr.ecr.ap-southeast-3.amazonaws.com/sequrra/campaign:latest .
          bash /home/deploy/.aws/ecr-login
          docker push 577638362838.dkr.ecr.ap-southeast-3.amazonaws.com/sequrra/campaign:latest
          ssh sequrraprd "docker stop campaign 2>&1 | true"
          ssh sequrraprd "docker rm campaign 2>&1 | true"
          ssh sequrraprd "docker image ls | grep '577638362838.dkr.ecr.ap-southeast-3.amazonaws.com/sequrra/campaign' | awk '{print \$3}'| xargs -I '{}' docker image rm -f '{}' 2>&1 | true"
          ssh sequrraprd "bash /home/ubuntu/.aws/ecr-login"
          ssh sequrraprd "docker pull 577638362838.dkr.ecr.ap-southeast-3.amazonaws.com/sequrra/campaign:latest"
          ssh sequrraprd "docker compose -f /home/ubuntu/app/docker-compose.app.yml up -d --force-recreate"
          ssh sequrraprd "sleep 60s && docker logs campaign"
      
      - name: Clean up Docker images and Remove Workspace
        run: |
          docker image ls | grep -wi "campaign" | awk -F' ' '{system("docker image rm -f "$3" || true")}'
          docker image ls | grep -w '<none>' | awk -F' ' '{system("docker image rm -f "$3" || true")}'
          docker rm $(docker ps -a -q -f status=exited -f status=created) || true
          docker rmi $(docker images -q -f dangling=true) || true
          rm -rf ${{ steps.extract_branch.outputs.branch }} || true
